{% load static %}
<div class="card mb-3">
    <div class="row"></div>
    <div class="col-4">
        <img class="img-fluid rounded-start" src="{% static 'courses/img/'|add:course.imageUrl %}" alt="{{ course.title }}">
    </div>
    <div class="col-8">
        <div class="card-body">
            <h5 class="card-title">
                <a href="{% url 'course_details' course.slug %}">
                    {{ course.title }}
                </a>
            </h5>
            <p class="card-text">{{ course.description | truncatechars:"25"}}</p>
            {% comment %} <span>
               {% if course.isUpdated %}
                    <span class="badge bg-success">Güncellendi</span>
                    {% else %}
                    <span class="badge bg-danger">Güncelleme Bekliyor</span>
                {% endif %}  
            </span> {% endcomment %}
             <p>{{course.date|date:'SORT_DATE_FORMAT'}}</p>  
            
        </div>
    </div>
</div>